@mixin landingflexCenter($direction, $background) {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

@mixin avatar($background){
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: $background;
}

@mixin flexSpaceAround($direction){
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    font-family: sans-serif;
}

@mixin coverBackground($background){
    background: $background;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

@mixin card($height, $margin, $max-height, $max-width){
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    height: $height;
    max-height: $max-height;
    min-height: 500px;
    max-width: $max-width;
    min-width: 300px;
    margin: $margin;
    -webkit-box-shadow: 0px 12px 18px -6px black;
        box-shadow: 0px 12px 18px -6px black;
}

@mixin gridz($max-height, $flex-direction){
    max-height: $max-height;
    display:flex;
    flex-wrap: wrap;
    flex-direction: $flex-direction;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

@mixin footer-text($color,$font-size){
    display:flex;
    justify-content: center;
    align-items: center;
    color: $color;
    font-size: $font-size;
    font-family: arvo;
}

@mixin footer-link($display){
    position: relative;
    display: $display;
    margin: 1rem;
    color: black;
    font-family: arvo;
}


@mixin footer-submit(){
    display:flex;
    background-color: transparent;
    border: none;
    border-bottom: .5px solid  rgb(65, 63, 63);
    border-right: .5px solid rgb(65, 63, 63);
    border-left: .5px solid rgb(65, 63, 63);
    justify-content: center;
    color:  rgb(119, 118, 118);
    padding: 10px;
    margin-bottom: 20px;
}

@mixin box-style(){
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    list-style-type: none;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin hamburger-style(){
    display:flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: arvo;
    font-size: 14pt;
    flex-wrap: nowrap;
}
