@import "./variables";
@import "./mixins";

.AddPlant-Container {
  @include flexSpaceAround(row);

  @include coverBackground(url('https://cdn.pixabay.com/photo/2017/07/02/21/34/notebook-2465914__480.jpg'))

}
.add-p, .edit-p {
  @include contact-font(16pt);
  color:black;
}
.Form {
    @include add-form-style();
  }
  .Form > * {
    margin: 7px 0;
  }
  .Form > p {
    font-size: 14px;
    color:  #fff;
    font-family: arvo;
  }
  .form_img_preview {
    width: 320px;
    height: 220px;
    margin: 7px auto;
    background-position: center;
    background-size: cover;
    border: 5px solid #d5d4d0;
  }
  .Form > input {
    font-family: arvo;
    font-weight: 700;
    width: 250px;
  }
  .Form > input:focus {
    outline: none;
        box-shadow: 0 0 10px #174b39;
    border: 1px solid #b3cfcc;
  }
  
  .edit-p-container, .add-p-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    padding-left:25px;
  }
  
  .form_button_box {
    @include form-button-style();
  }

  
  @media (max-width: 830px) {
    .AddPlant-Container {
      min-height: 115vh;
    }
    .Form {
      width: 340px;
    }
    .form_img_preview {
      width: 310px;
    }
  }
