@import "./mixins";
@import "./variables";

.hamburger-container {
    @include hamburger-style();
    position: absolute;
    left: 2vw;
    padding:15px;
    .h-text{
    @include hamburger-style();
    margin: 10px;
    }
    .h-text:hover{
        color: rgb(29, 129, 79);
        font-size:16pt;
    }
}
.box {
    position: absolute;
    left: -350px;
    top:55px;
    @include box-style();
    @include coverBackground(url('https://cdn.pixabay.com/photo/2017/01/24/03/53/plant-2004483__480.jpg'));
    min-height: 300px;
    max-height: 500px;
    width: 200px;
    box-shadow: 0px 12px 18px -6px black;
    z-index: 10;
  }
  .box-entered {
    left: 2vw;
    top: 55px;
    @include box-style();
  }
  .box-entering {
    animation-name: entering;
    animation-duration: 2s;
    @include box-style();
  }
  .box-exiting {
    animation-name: leaving;
    animation-duration: 1s;
    @include box-style();
  }
  
@keyframes entering {
    0% {
      left: -300px;
      transform:translateX(0);
    }
    100% {
        transform:translateX(190%);
    }
  }
  
  @keyframes leaving {
    0% {
      transform:translateX(190%);
    }
    100% {
      left: -300px;
      transform:translateX(0);
    }
  }
