@import "./mixins";
@import "./variables";
* {box-sizing: border-box;}

.Dash{
  @include flexCenter(column,);
  @include coverBackground(url('../images/white-painted-concrete-wall-888895_1920.jpg'));
  padding: 5px 5px 5px 5px;
  .grid {
    @include gridz(90%, row);
  }
  .chart-container {
    @include flexSpaceAround(column);
    @include card(400px, 20px, 400px, 400px);
    min-width: 400px;
    .chart{
      @include flexSpaceAround(column);
    }
  }
}
@media (max-width: 830px) {
    .grid {
      @include gridz(90%, column);
      margin: 10px;
    .chart-container{
      @include card(100px, 10px, 80vh, 60vw);
    }
  }
}
