@import "./styleLand";

.dash-container{
@extend .land-container;
background: url('../images/white-painted-concrete-wall-888895_1920.jpg')
}

  
#Dash {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    flex-wrap: wrap;
    margin-left:100px;
  }
  #Dash > * {
    margin: 10px 0;
  }