@import "./mixins";
@import "./variables";


.profile-container{
    @include coverBackground(url('https://cdn.pixabay.com/photo/2017/05/13/17/31/leaf-2310212__480.jpg'));
    @include flexCenter(column);
    font-family: arvo;
    width: 100%;
    height: 10vh;
    .profile-picture{
        width: 200px;
        height: 200px;
        object-fit: cover;
    
    }
    .profile-form-container{
        background: white;
        height: 300px;
        width: 200px;
    }

}

.profile-picture{
    width: 200px;
    height: 200px;
    object-fit: cover;

}

// @media (min-width: 830px) {
    //   .Form {
    //     position: fixed;
    //     // left: 45.5vw;
    //     // top: 150px;
    //   }
    // }