.AddPlant-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin: 100px;
  margin-left: 150px;
}

.Form {
  width: 350px;
  height: 670px;
  padding: 15px;
  margin: 10px auto;
  border-radius: 7px;
  background-color: #617872;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Form > * {
  margin: 7px 0;
}

.Form > p {
  font-size: 20px;
  color: #fff;
}

.form_img_preview {
  width: 350px;
  height: 220px;
  margin: 7px auto;
  background-position: center;
  background-size: cover;
  border: 5px solid #9eb29a;
}

.Form > input {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  width: 300px;
}

.Form > input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px #174b39;
          box-shadow: 0 0 10px #174b39;
  border: 1px solid #b3cfcc;
}

.form_button_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
}

.form_button_box {
  padding: 10px;
  margin: 5px 10px;
  background-color: #9eb29a;
  border-radius: 7px;
  border: none;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1a4e4e;
  height: 500px;
  width: 500px;
  left: 20%;
  top: 40%;
}

.chart-container .chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  width: 500px;
  background-color: #9eb29a;
  margin-right: 200px;
}

@media (min-width: 500px) {
  .Form {
    width: 450px;
  }
}

@media (min-width: 830px) {
  .Form {
    position: fixed;
    left: 45.5vw;
    top: 150px;
  }
}

@media (min-width: 1000px) {
  .Form {
    left: 53vw;
  }
}

@media (min-width: 1200px) {
  .Form {
    left: 57vw;
  }
}

@media (min-width: 1400px) and (min-height: 950px) {
  .Form {
    width: 550px;
    height: 650px;
  }
  .form_img_preview {
    width: 420px;
    height: 300px;
  }
}
/*# sourceMappingURL=styleAddPlant.css.map */