@import "./mixins";
@import "./variables";

.contact-container {
  @include flexCenter(column);
  @include coverBackground(url('https://cdn.pixabay.com/photo/2017/08/06/11/08/white-2591358__480.jpg'));
  min-height: 70vh;
  max-height:90vh;
  padding-bottom:40px;
  .contact-blurb{
    @include contact-font(14pt);
    font-weight:200;
    padding: 0px 20px 0px 20px;
  }
}
.contact-box {
  @include contact-box-style();
  padding: 10px;
  input, .input-text{
    @include contact-font(12pt);
    border-radius: 1px;
    padding-top: 1px;
    background-color: #eeeeec;
  }
  input:focus, .input-text:focus{
    outline: none;
    background-color: $bright-white;
  }
  h5 {
    @include contact-font(14pt);
    margin-bottom: 5px;
    margin-top: 10px;
  }
}
.contact-header {
@include flexCenter(row);
@include contact-font(24pt);
  margin-top:5px;
}
.button-container{
  padding:5px;
  margin:5px;
}
Button{
  margin-bottom: 20px;
}

// @media (min-width: 680px) {
//   .contact-container {
//     @include flexCenter(column);

//   }

//   .contact-box {
//     margin-top: 5vh;
//     min-height: 55vh;
//     max-height: 90vh;
//     width: 45vw;
//     border-radius: 5px;;
//     h5 {
//       margin-bottom: 10px;
//       margin-top: 10px;
//       font-size:14pt;
//     }
//   }
//   .contact-header {
//     @include flexCenter(column);
//     font-size: 24pt;
//     height: 7vh;
//     font-family: arvo;
//   }
// }

// @media (min-width: 980px) {
//   .contact-container {
//     @include flexCenter(column);
//   }

//   .contact-box {
//     margin-top: 5vh;
//     min-height: 60vh;
//     max-height: 200vh;
//     width: 40vw;
//     border-radius: 5px;
//   }
//   .contact-header {
//     @include flexCenter(column);
//     font-size: 24pt;
//     height: 7vh;
//     font-family: arvo;
//   }
//   .input-text {
//     width:30vw;
//   }
// }

@media (max-width: 680px) {
  .contact-container {
    min-height: 90vh;
    max-height:90vh;
    padding-bottom:40px;
  }
  .contact-box {
    margin-top: 5vh;
    min-height: 55vh;
    max-height: 90vh;
    width: 90vw;
    border-radius: 5px;;
  }
  .contact-header {
    @include contact-font(16pt);
  }
  .input-text {
    width:55vw;
    height:10px;
  }
}