@import "./variables";
@import "./mixins";

.Plant {
  @include card(500px, 20px, 50vh, 20vw);
  flex-basis:calc(33.3333% - 10px);

  .plant_img {
    //position: relative;
    max-width: 250px;
    min-width: 200px;
    max-height: 250px;
    min-height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-position: center;

  .text-button-container {
    display:flex;

    .plant-title {
          font-size: 24px;
        }

    .plant-note {
          font-size: 25px;
          padding: 5px;
        }
      }
  }
}

.buttons{
  @include flexSpaceAround(none);
    margin-top: 10px;
  .plant-button {
        background-color: white;
        border-radius: 7px;
        align-items: center;
        padding: 5px;
        display: flex;
        margin: 15px;
        justify-content: space-between;
        flex-direction: row;
        border:1px solid black;
      }
  }
  
  @media (max-width: 830px) {
    .Plant {
      @include card(100px, 10px, 80vh, 60vw);
    }
  }
