@import "./mixins";
@import "./variables";
* {box-sizing: border-box;}

.Dash{
  @include flexCenter(column,);
  @include coverBackground(
    linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%)
    );
    // background: url(
    //   'https://cdn.pixabay.com/photo/2016/11/28/21/36/white-1866105_960_720.jpg');
    // min-height: 100vh;
    // min-width:100vw;
    // background-repeat: repeat-y;
    //'../images/white-painted-concrete-wall-888895_1920.jpg'
  .grid {
    @include gridz(90%, row);
  }
  .chart-container {
    @include flexSpaceAround(column);
    @include card(400px, 20px, 400px, 400px);
    min-width: 400px;
    .chart{
      @include flexSpaceAround(column);
    }
  }
}
@media (max-width: 830px) {
    .grid {
      @include gridz(90%, column);
      margin: 10px;
    .chart-container{
      @include card(100px, 10px, 80vh, 60vw);
    }
  }
}
