@import "./variables";

.Plant {
    width: 300px;
    padding: 10px;
    border-radius: 7px;
    background-color: $white;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .plant_img {
    position: relative;
    width: 320px;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin: 5px;
    background: url('https://cdn.pixabay.com/photo/2017/05/23/12/57/succulents-2337197__480.jpg');
  }
  .plant_button {
    background-color: white;
    border-radius: 7px;
    align-items: center;
    padding: 5px;
    display: flex;
    margin: 15px;
    justify-content: space-between;
    flex-direction: row;
    border:1px solid black;
  }
  .plant_title {
    font-size: 24px;
    display:flex;
    position: relative;
    margin: 10px;
  }
  .plant_note {
    font-size: 20px;
  }
  .buttons{
    display:flex;
    justify-content: space-around;

  }
  
  @media (min-width: 500px) {
    .Plant {
      width: 350px;
    }
  }
  @media (min-width: 830px) {
    .Plant {
      width: 350px;
    }
  }
  @media (min-width: 1000px) {
    .Plant {
      width: 350px;
    }
  }
  @media (min-width: 1200px) {
    .Plant {
      width: 300px;
      //position: relative;
    }
    .plant_img {
      margin: 0;
    }
    .plant_box {
      top: 5px;
      left: 350px;
      flex-direction: row;
    }
  } 