$light-blue: #b3cfcc;
$off-white: #eff0ea;
$bright-white: #fdfcfb;
$white: #fff;
$green: #a0cfa5;
$dark-green: #617872;
$gray-green: #9eb29a;
$cream: #e2d1c3;
$black: rgba(0, 0, 0, 0.5);
$dark-blue: #6a7086;
$lavender: #a8a8ad;

